.Graph {
  text-align: center;
  max-width: 400px;
}

.Graph-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.latencyGraph {
  margin: 10px;
  border: solid 1px silver;
}